# Data files too large for GitHub (>100MB)
data/rating.csv

# Script temporal de conversion
convert_parquet.py

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
